html, body {
    padding: 0;
    margin: 0;
}
body {
    color: #000;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
/*
* Container, Boxes
*/
.box {
    border: 1px solid transparent;
    min-height: 100%;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
}

/*
* Display classess
*/
.d-flex {
    display: flex;
}
.d-flex-inline {
    display: inline-flex;
}
.d-inline {
    display: inline-block;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}

/*
* Button styling
*/
.theme-switcher {
    border: none;
    font-size: 2em;
    background: transparent;
}

/*
* Nav bar and nav styling
*/
.nav {
    margin: 50px 0 20px 0;
}
@media screen and (max-width: 760px){
    .nav {
        padding: 10px 10px;
    }
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
}
.nav-item-link {
    font-size: 1.3em;
}
/*
* Font sizes, weight and all fonts
*/
.font-weight-bold {
    font-weight: 700;
}

/*
* Miscellaneous classes and styles
*/
.loader {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 20px;
}

/*
* Story Styling
*/
.story {
    margin-bottom: 15px;
    padding-left: 10px;
}
.story-title {
    margin: 0 0 5px 0;
}
.story-link {
    text-decoration: underline;
    display: inline-block;
    margin: 0 3px;
}
.story-time {
    display: inline-block;
    margin: 0 3px;
}
/*
* Comment Base styles
*/
.comment {
    padding: 12px 10px;
    border-radius: 5px;
    margin: 8px 0;
}
.no-comment {
    padding: 15px 10px;
}