/*
* Navbar theme
*/
.nav-light {
    color: inherit;
}
.nav-dark {
    color: #e0e0e0;
}
.active {
    color: #e74c3c;
}


/*
* Background and color styling
*/
.bg-light {
    background: #fff;
}
.bg-dark {
    background: #212526;
}

/*
* Story component styling
*/
.story-light {
    transition: border .4s ease-out;
    border-left: 3px solid #fff;
}
.story-dark {
    transition: border .4s ease-out;
    border-left: 3px solid #363a3b;
}
.story:hover {
    border-left: 3px solid #e74c3c;
    transition: border .2s linear;
}
.story-info {
    color: #8a929c;
}
.story-title-light {
    color: #e74c3c;
}
.story-title-dark {
    color: #e0e0e0;
}
.story-link-light {
    color: #000;
}
.story-link-dark {
    color: #e0e0e0;
}

/*
* Comment Styling
*/
.comment-light {
    background: #e0e0e0;
}
.comment-light p a {
    color: #3498db;
}
.comment-dark p a {
    color: #fff;
    text-decoration: underline;
}
.comment-dark {
    background: #2f3334;
    color: #e0e0e0;
}
.no-comment {
    color: #5b5b5b;
}
/*
* User styles.
*/
.user-text-dark {
    color: #e0e0e0;
}
.user-text-light {
    color: #0e0e0e;
}